h1{
  text-align: center;
}

 body
 {
   margin: 0;
   padding: 0;
   
   /* make it look decent enough */
   background: #171717;
   color: white;
   font-family: 'Source Code Pro', monospace; 
 }
 
 a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 a:hover
 {
   color: rgb(117, 117, 117);
 }
 
 #menuToggle
 {
  position: fixed;
   display: block;
   
   top: 50px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: white;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
    #parent {
        height: 40px;
        white-space: nowrap;
        overflow: hidden; 
        font-family: 'Source Code Pro', monospace;  
        font-size: 28px;
        color: rgba(255,255,255,.70);
        position: relative;
      }
      
      #border {
        border-bottom: solid 3px rgba(0,255,0,.75);
        position: absolute;
        right: -7px;
        width: 20px;
      }
      
      /* Animation */
      #parent {
        animation: animated-text 2s steps(30,end) 1s 1 normal both
      }
      
      #border {
         animation: animated-cursor 600ms steps(30,end) infinite;
        -moz-animation: cssAnimation 0s ease-in 3s forwards;
          /* Firefox */
          -webkit-animation: cssAnimation 0s ease-in 3s forwards;
          /* Safari and Chrome */
          -o-animation: cssAnimation 0s ease-in 3s forwards;
          /* Opera */
          animation: cssAnimation 0s ease-in 3s forwards;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      
      /* text animation */
      
      
      
      /* cursor animations */
      
      @keyframes animated-cursor{
        from{border-bottom-color: rgba(0,255,0,.75);}
        to{border-bottom-color: transparent;}
      }
      
      #parent2 {
        height: 40px;
        white-space: nowrap;
        overflow: hidden; 
        font-family: 'Source Code Pro', monospace;  
        font-size: 28px;
        color: rgba(255,255,255,.70);
        position: relative;
      }
      
      #border2 {
        border-bottom: solid 3px rgba(0,255,0,.75);
        position: absolute;
        right: -7px;
        width: 20px;
      }
      
      
      /* Animation */
      #parent2 {
        animation: animated-text2 4s steps(60,end) 3s 1 normal both
      }
      
      #border2 {
         animation: animated-cursor 600ms steps(60,end) infinite;
        -moz-animation: cssAnimation 0s ease-in 7s forwards;
          /* Firefox */
          -webkit-animation: cssAnimation 0s ease-in 7s forwards;
          /* Safari and Chrome */
          -o-animation: cssAnimation 0s ease-in 7s forwards;
          /* Opera */
          animation: cssAnimation 0s ease-in 7s forwards;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      #parent3 {
        height: 40px;
        white-space: nowrap;
        overflow: hidden; 
        font-family: 'Source Code Pro', monospace;  
        font-size: 28px;
        color: rgba(255,255,255,.70);
        position: relative;
      }
      
      #border3 {
        border-bottom: solid 3px rgba(0,255,0,.75);
        position: absolute;
        right: -7px;
        width: 20px;
      }
      
      /* Animation */
      #parent3 {
        animation: animated-text3 2s steps(60,end) 7s 1 normal both
      }
      
      #border3 {
         animation: animated-cursor 600ms steps(60,end) infinite;
        -moz-animation: cssAnimation 0s ease-in 9s forwards;
          /* Firefox */
          -webkit-animation: cssAnimation 0s ease-in 9s forwards;
          /* Safari and Chrome */
          -o-animation: cssAnimation 0s ease-in 9s forwards;
          /* Opera */
          animation: cssAnimation 0s ease-in 9s forwards;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      #parent4 {
        height: 40px;
        white-space: nowrap;
        overflow: hidden; 
        font-family: 'Source Code Pro', monospace;  
        font-size: 28px;
        color: rgba(255,255,255,.70);
        position: relative;
      }
      
      #border4 {
        border-bottom: solid 3px rgba(0,255,0,.75);
        position: absolute;
        right: -7px;
        width: 20px;
      }
      
      /* Animation */
      #parent4 {
        animation: animated-text4 2s steps(10,end) 9s 1 normal both
      }
      
      #border4 {
         animation: animated-cursor 600ms steps(10,end) infinite;
      }
      
      @keyframes animated-text{
        from{width: 0;}
        to{width: 320px;}
      }
      @keyframes animated-text2{
        from{width: 0;}
        to{width: 1080px;}
      }
      @keyframes animated-text3{
        from{width: 0;}
        to{width: 710px;}
      }
      @keyframes animated-text4{
        from{width: 0;}
        to{width: 100px;}
      }
      
      @keyframes cssAnimation {
          to {
              width:0;
              height:0;
              overflow:hidden;
          }
      }
      @-webkit-keyframes cssAnimation {
          to {
              width:0;
              height:0;
              visibility:hidden;
          }
      }

.divcolor{
    color: #37B8C9;
}
.classcolor{
    color: #B5F861;
}
.titlecolor{
    color:#FC9464;
}

.title{
    margin-top: 100px;
    padding: 20px;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-9-12 13:0:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-2-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-scale-2-hor-bottom {
    0% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    50% {
      -webkit-transform: translateY(50%) rotateX(90deg) scale(2);
              transform: translateY(50%) rotateX(90deg) scale(2);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    100% {
      -webkit-transform: translateY(100%) rotateX(180deg) scale(1);
              transform: translateY(100%) rotateX(180deg) scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  @keyframes flip-scale-2-hor-bottom {
    0% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    50% {
      -webkit-transform: translateY(50%) rotateX(90deg) scale(2);
              transform: translateY(50%) rotateX(90deg) scale(2);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    100% {
      -webkit-transform: translateY(100%) rotateX(180deg) scale(1);
              transform: translateY(100%) rotateX(180deg) scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  
.about{
  margin:0 auto;
  width: 600px;
height: 300px;
border: 3px solid #f1f1f1;
padding: 4px;
align-content: center;
font-family: 'Source Code Pro', monospace; 
color: white;
}


  #jurek{
    padding: 5px;
    font-family: 'Fira Code', sans-serif;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 360px;
    border: 2px solid #e6e6e6;
    color: #fff;
    background: #171717;
  }

  .show{
	-webkit-animation: jurek 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: jurek 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }

  .jurekid{
    margin-top: 50px;
    background-color: white;
    border: none;
    font-size: 14px;
    font-family: 'Fira Code', sans-serif;
    padding: 10px 19px;
    font-weight: 600;
    display: block;

  }

.buttonnav{
    margin-top: 50px;
    background-color: white;
    border: none;
    font-size: 14px;
    font-family: 'Fira Code', sans-serif;
    padding: 10px 19px;
    font-weight: 600;
    display: block;
    border: 3px solid #171717;

}

  button:hover{
      cursor: pointer;
  }
  
  .flip-scale-2-hor-bottom {
	-webkit-animation: flip-scale-2-hor-bottom 0.5s linear both;
	        animation: flip-scale-2-hor-bottom 0.5s linear both;
}
  
.flip-card {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-family: 'Fira Code', sans-serif;
  background-color: #171717;
  width: 300px;
  height: 200px;
  border: 3px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background: #171717;
    color: #fff;
}

/* Style the back side */
.flip-card-back {
  background-color: #fff;;
  color: #171717;
  transform: rotateX(180deg);
}
.page2{
    visibility: hidden;
}
.page2on{
    width: 100%;
    height: 100%;
    background: #171717;
    visibility: visible;
    position:absolute;
  top:50%;
  margin-left: auto;
  margin-right: auto;
  margin-top:-50px; /* this is half the height of your div*/  
  margin-left:-100px;
  align-content: center;
}


.flicker-in-1 {
	-webkit-animation: flicker-in-1 2s linear both;
	        animation: flicker-in-1 2s linear both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-9-12 16:25:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  

  .dgc{
    margin:0 auto;
    width: 300px;
  height: 600px;
  border: 3px solid #f1f1f1;
  padding: 4px;
  align-content: center;
  font-family: 'Source Code Pro', monospace; 
  color: white;

  }

  .mobile{
    background:black;
    border: 3px solid #f1f1f1;
    font-size: 30px;
    color: white;
    padding: 10px;
  }

.mm{
margin-right: 30px;
}

  .mobile:hover{
    background:white;
    border: 3px solid black;
    font-size: 30px;
    color: black;
  }

  .buttonsp{
    margin-left: 66px;
  }

.mobile-games{

  margin-left: auto;
  margin-right: auto;

}
.websites{

align-content: center;
margin:0 auto;
}
.zpsem{
  float:left;
  margin-left: auto;
  margin-right: 25px;
  width: 300px;
  height: 360px;
  border: 3px solid #f1f1f1;
  padding: 4px;
  align-content: center;
  font-family: 'Source Code Pro', monospace; 
  color: white;
  align-content: center;
  
}

.fa-paw{
  margin-left: 50%;
  font-size: 30px;
}

.website{
  margin:auto auto;
  background:black;
  border: 3px solid #f1f1f1;
  font-size: 20px;
  color: white;
  padding: 10px;
  font-family: 'Source Code Pro', monospace; 
}

.mm{
margin-right: 30px;
}

.dat{
  margin-right: auto;

  overflow: hidden;
  width: 300px;
  height: 390px;
  border: 3px solid #f1f1f1;
  padding: 4px;
  align-content: center;
  font-family: 'Source Code Pro', monospace; 
  color: white;
  align-content: center;
}

.website:hover{
  background:white;
  border: 3px solid black;
  font-size: 20px;
  color: black;
}

.leroy{
  margin-left: 5px;
width: 100px;
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.leroy:hover{
  filter: none;
  -webkit-filter: grayscale(0%);
}

.partnersbg{
  background: rgb(73, 69, 69);
}
